.App {
  height: 100vh;
  background-color: #f9f7f3;
  color: #181817;
}

.highlight {
  color: #274534;
}

.achive {
  list-style-type: disc;
}

.shadow {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.contacts {
  margin-top: 20%;
}

.about {
  display: flex;
  justify-content: center;
  gap: 20px;
  height: 60%;
  margin-top: 5%;
}



.info {
  margin: 5%;
}

ul {
  list-style: none;
}

a {
  color: #333333;
}

.buttons {
  display: flex;
  justify-content: space-between;
  margin: 5%;
  width: 45%
}

.resume {
  margin: 20%;
}

.tools {
  height: 100px;
  /* background-color:  #274534; */
  display: flex;
  justify-content: space-around;
  padding: 10px;
}

