.App {
  height: 100vh;
  margin: 0;
  background-color: #f9f7f3;
  color: #181817;
}

.highlight {
  color: #1976D2;
}

.project {
  display: flex;
}

.achive {
  list-style-type: disc;
  margin: 20px;
}

.shadow {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.contacts {
  margin-top: 20%;
}

.about {
  display: flex;
  justify-content: center;
  gap: 20px;
  height: 60%;
  padding-top: 5%;
}

.info {
  margin: 5%;
}

ul {
  list-style: none;
}

a {
  color: #333333;
}

.buttons {
  display: flex;
  justify-content: space-between;
  margin: 5%;
  width: 45%
}

.center {
  display: flex;
  justify-content: center;
}

.tools {
  height: 100px;
  display: flex;
  justify-content: space-around;
  padding: 10px;
}

.projects {
  display: flex;
  gap:20px;
  justify-content: space-around;
  flex-wrap: wrap;
}

.projects video {
  width: 20vw;
  border-radius: 15px;
  border: solid #181817 1px;
  transition: width 2s, height 4s;
}

.projects video:hover {
  width: 25vw;
}

.proj {
  padding-top: 15px;
}

.project-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.project-content p {
  width: 100%;
  width: 20vw;
  text-align: center; 
}


